body{
    color: #506a85;
}

.btn-default{
    color: white;
    font-weight: bold;
    background-color: #48bb9c;
}

.section{
    padding: 100px 300px 100px 370px;
}
.section-title{
    text-align: center;
    padding: 0px 300px 50px 300px;
}

.section-title h2{
    font-weight: bold;
}

.section-title p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.who-are{
    padding-bottom: 350px;
}

.wh-re-icon{
    display: inline-block;
    float: left;
}

.wh-re-sect{
    padding: 0px 20px 20px 20px;
    width: 80%;
    float: left;
    display: inline-block;
}

.wh-re-sect h3{
    margin-top: 0px;
}

.wh-re-sect p {
  margin-top: 20px;
}

.lat-works{
    background-color: #f1f5f8;
}

.works-thumbs{
    margin-bottom: 70px;
}

.thumbnail{
/*    margin: 0px;*/
    text-align: center;
    padding: 0px;
    width: 563px;
}
.caption h3{
    font-weight: bold;
    color: #506a85;
}
.caption p{
    color: #506a85;
}

.foot{
    color: #acb3ba;
    padding-bottom: 300px;
    background-color: #2f4052;
}

.foot a{
    font-weight: bold;
    color: #acb3ba;
    text-decoration: none;
}

.foot a:hover{
    color: #00bc9c;
}

.foot p{
    margin-bottom: 20px;
}

.foot{
    padding-bottom: 370px;
}

.foot h3{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.carousel-indicators{
    padding-top: 8px;
    bottom: -17px;
        margin-left: -57px;
/*    margin-left: auto;*/
    width: 100px;
    margin-right: auto;
    background-color: white;
    border-radius: 3px;
}

.carousel-indicators .active{
    border-color: #00bc9c;
    background-color: #00bc9c;
}

.carousel-indicators li{
    border-color: #506a85;
    background-color: #506a85;
}

.indicators2{
   width: 60px;
    margin-left: -43px;
    bottom: -64px;
    background-color: #f1f5f9;
}



.control2{
    position: absolute;
    background-color: #c9d2da;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.control2 i{
    color: white;
}

/*.left2, .right2{
    background-color: blue;
    padding: 10px;
    display: inline-block;
}*/

.left2{
   top: 112%;
   right: 54%;
}

.right2{
    top: 112%;
    right: 45.9%;
    left: auto;
}
/*

.carousel-control.right.right2{
    width: 30px;
    top: 100%;
    right: 40%;
}*/
.input-group2{
    padding-right: 6px;
    border-radius: 5px;
    background-color: #4e5c6c;
}

#basic-addon2{
    border: none;
    border-radius: 5px; 
}


#inputSuscribe{
    font-size: 12px;
    background-color: #4e5c6c;
    padding: 23px 7px 23px 10px;
    border-style: none;
}

#inputSuscribe:focus{
    box-shadow: none;
    color:white;
}

.touch .fa{
   padding: 8px 8px 8px 0px;
}

.footLinks, .copyRight, .footLinksWrapp{
    display: inline-block;
}


.footLinks{
        margin-right: 300px;
}
.footLinksWrapp{
    float: right;
}

.footLinksButton{
    display: inline-block;
}

.footLinks li{
    float: left;
}
.footLinks a{
    padding: 5px;
}
.footLinks .fa-circle{
  font-size: 5px;
   padding: 5px;
   vertical-align: middle;
}

.bottomFootsection{
/*   display: inline-block;*/
    background-color: #283645;
        color: #616f7d;
   padding: 10px 16px 20px 400px;
}

.bottomFootsection a{
        color: #616f7d
}

.navbar-default .navbar-nav>li>a{
    color: #506a85;
}


#navbarBigDown{
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 20px 300px 20px 370px;
    margin-bottom: 0px;
    background-color: white;
}

#navbarBigUpper{
  border: none;
   padding: 0px 300px 0px 370px;
   margin-bottom: 0px;
   background-color: #f5f7fa;  
}

.socialNav i{
    color: white;
}

.navbarInfo i{
    padding-right: 15px;
}

#mailInfonav {
    padding-left: 0px;
}


#facebookContainer{
    background-color: #4668b3;
}

#googlePlusContainer{
    background-color: #de5745
}

#twitterContainer{
    background-color: #2fbbed;
}

#pinterestContainer{
    background-color: #d94348;
}

#behanceContainer{
    background-color: #3079ff;
}

#dribbleContainer{
    background-color: #eb6397;
}

.searchNav{
   color: #506a85;
   background-color: white;
   border:none;
}

#searchInputNav{
    width: 20px;
    border: none;
}

.imgHolder{
    cursor: pointer;
    width: 126px;
   height: 85px;
   position: relative;
}

.imgHolder::before {
  content: '';
  background: url('hovermini_41.png');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
}

.image-holder {
  background: url('minis_43.png');
}


.image-holder:hover::before {
  opacity: .7; /* amount of opacity to blend the two images */
}


.image-holder2 {
  background: url('minis_41.png');
}

.image-holder2:hover::before {
  opacity: .7; /* amount of opacity to blend the two images */
}

.image-holder3 {
  background: url('minis_47.png');
}

.image-holder3:hover::before {
  opacity: .7; /* amount of opacity to blend the two images */
}

.image-holder4 {
  background: url('minis_48.png');
}

.image-holder4:hover::before {
  opacity: .7; /* amount of opacity to blend the two images */
}


